body {
    background-color: #CCCCFF;
    font-size: 14pt;
}
h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0cm;
}
.textarea {

   background-color: white;
   max-width:90%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
}
.options {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
legend {
    font-weight: bold;
}
fieldset {
  
   
    border: 4px solid black;
    display: inline;
}
textarea{
    min-width:100%;
height: auto;
}
.validator {
    position: fixed;
    right:0;
    float: right;

}
a {
    display: block;
}

